@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;



}
*{
    margin: 0;
    min-height: 0;

    font-family: 'JetBrains Mono', sans-serif;
}

.container{
    margin-top:10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    gap:20px;
}
h1,a,div{
    color:rgb(19,19,19,.8);

}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;


}
.top{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding:9px;
    position:absolute;
    backdrop-filter: blur(10px);
    align-items:center;
    letter-spacing: 1px;
    border-radius:10px;
    width:100svw;
    box-shadow: 0 0 40px rgba(27, 27, 27, 0.3);
    text-align: center;
}

h1{
    flex: 0 0 auto;
}
.top h4{
    letter-spacing: 2px;
}
.content{
    border-radius: 10px;
    height:60vh;
    width:80vw;
    display: flex;
    padding:20px;
    box-shadow: 0 0 40px rgba(27, 27, 27, 0.3);
    backdrop-filter: blur(5px);


}

.left, .right{
    flex: 1;
    padding-right:20px;
    padding-left:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    overflow:auto;



}
.right{
    border-left:1px solid #6cb5ca;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #005267;





}

.left{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #701818;



}

p{
    white-space: pre-wrap;
}
.options-1,.options-2{
    min-width:70vw;
    height:50px;
    display:flex;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(27, 27, 27, 0.25);
    background-color:aliceblue;
    padding-left:20px;
    padding-right:20px;
}
.options-2{
    padding-top:10px;
    padding-bottom:10px;
}
.middle{
    display:flex;
    flex-direction: column;
    gap:10px;
    align-content: center;
    justify-content: center;
    margin-top:10vh;
}
select{
    flex:1;
    border:none;
    outline: none;
    text-align: center;
    border-radius: 5px;
    padding:0;

}

#for{

}
#against{

}

#run-button{
    flex: 1;
    border:none;
    transition: all .5s;
    border-radius: 10px;
    background:transparent;
    backdrop-filter: blur(10px);


}
#run-button:hover{
    cursor:pointer;
    scale:0.95;
}

#agenda{
    text-align: center;
    margin:0 10px 0 10px;
    flex:1;
    border-top:none;
    border-bottom:none;
    border-radius:5px;
    outline:none;
    background-color:aliceblue;




}

#motionbar{
    display:flex;
    flex-direction: row;

}
#motionbar div{
    flex:1;
    text-align: center;
    gap:10px;
}
.judges_panel{
    flex: 1;
    text-align: center;
    display:flex;
    box-shadow: 0 0 30px rgba(27, 27, 27, 0.25);
    padding:20px;
    align-items: center;
    width:80vw;



}
.judges_panel div, .judges_panel select{
    flex: 1;

}

.links{
    display:flex;
    flex-direction: row;
    gap:5vw;

}
a{
    transition: letter-spacing .7s;
    flex-grow: 0;
    flex-shrink: 0;



}
.attack,.defend{
    display: none;
}
.meds{
    display:flex;
    flex:1;
    min-height:30vh;
    box-shadow: 0 0 30px rgba(27, 27, 27, 0.25);
    width:80vw;
    padding:20px;


}
.l_med_cont,.r_med_cont{
    flex: 1;
    padding-right:20px;
    padding-left:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    overflow:auto;
}

.r_med_cont{
    border-left:1px solid #6cb5ca;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #09303a;




}
.l_med_cont{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #492525;



}
.cn{
    text-align: center;
    margin:20px;
}
.debater_words_div,.mediator_words_div{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.debater_word_limit,.mediator_word_limit{
    border:1px dotted black;
    border-radius:10px;
    width:fit-content;
    outline:none;
}
input{
    text-align: center;
    padding:10px;


}